@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$primary_font:  'Cabin', sans-serif;

$phone_size:20px;
$nav_size:18px;
$banner_h2desktop:70px;
$banner_h3desktop:29px;
$info_size:22px;
$gallery_h3:22px;
$nav_size_large:17px;
$nav_size_medium:15px;
$small_font:13px;

$primary_bg_header:#005FAB;
$white:#fff;
$nav_hover:#FF6A00;
$black:#000000;
$black_line:#a3a3a3;
